.common {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: rgb(66, 165, 245);
  justify-content: flex-end;
  align-items: stretch;
  padding: 1%;
}

.header_container_dark {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: rgb(00, 21, 71);
  justify-content: flex-end;
  align-items: stretch;
  padding: 1%;
}

.header_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

.body_container {
  display: flex;
  flex-direction: column;
  background-color: rgb(128, 214, 255);
  align-items: stretch;
  height: 100%;
  width: 100%;
  padding: 1%;
}

.body_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 10px;
  align-content: space-between;
  padding: 1%;
}

.body_column {
  display: flex;
  flex-direction: column;
  column-fill: auto;
  justify-content: center;
  align-items: center;
}

.main_button {
  transition-duration: 0.4s;
  border-radius: 2%;
  background-color:darkgray;
  color: black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 50%;
}

.main_button:hover {
  background-color: rgb(66, 165, 245);
  color: white ;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.main_button_checked {
    transition-duration: 0.4s;
    border-radius: 2%;
    background-color:rgb(66, 165, 245);
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 50%;
    border-color: 'red';
    border-width: 1%;
  }
  
  .main_button_checked:hover {
    background-color: darkgray ;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

/* desativa o botao ~ ainda n sei usar*/
.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/*
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4CAF50; /* Green 
    background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  color: white;
}
*/

.sub_button {
  width: 100%;
  height: 100%;
}

.common a:hover {
  text-decoration: underline;
  background-color: blue;
}
